/* VistaPrincipalComponent's private CSS styles */

.publicar-idea {
    margin-top: 2em;
}

.entrada-descripcion {
    resize: none;
}

.formulario {
    margin-top: 2em;
}

.listado-ideas {
    margin-top: 2em;
}

.listado-desafios {
    margin-top: 2em;
}

.separado {
    margin-top: 1em;
}

.ideas {
    height: 20em;
    overflow-y: scroll;
    overflow-x: hidden;
}

.titulo {
    margin-left: 1em;
}

.nombre-ideador {
    color: #bf0b25;
}

.id-desafio {
    margin-left: 8em;
}

.desafios {
    height: 20em;
    overflow-y: scroll;
}

.descripcion-modal {
    margin: 1em;
    margin-bottom: 3em;
}

.icono-meGusta-modal {
    color:  #bf0b25;
    margin-left: 1em;
}

.meGusta-modal {
    margin-left: 1em;
}

.boton-meGusta-modal {
    margin-right: 1em;
}

.entrada-comentario-modal {
    margin-left: 2em;
}

.boton-comentar-modal {
    margin-right: 2em;
}

.comentarios {
    height: 16em;
    overflow-y: scroll;
}

.autor-comentario-modal {
    color: #bf0b25;
}
