<div class="row">
    <div class="col-md-12 publicar-idea">
        <div class="row">
            <div class="col-md-4"><h4>Publica una idea</h4></div>
            <div class="col-md-8"></div>
        </div>
        <div class="row formulario">
            <div class="col-md-12">
                <form>
                    <div class="row titulo-desafio">
                        <div class="form-group col-md-6">
                            <input type="text" #titulo maxlength="40" class="form-control" id="exampleFormControlInput1" placeholder="Introduzca el titulo de su idea">
                        </div>
                        <div class="form-group append-goup col-md-3">
                            <select class="form-control" #barra id="exampleFormControlSelect1">
                                <option value='0'>Idea Libre</option>
                                <option *ngFor="let desafio of desafios" #Desafio ([ngModel])="Desafio" value={{desafio.id}}>{{desafio.titulo}}</option>
                            </select>
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-11">
                            <div class="form-group">
                                <textarea class="form-control entrada-descripcion" #descripcion maxlength="280" id="exampleFormControlTextarea1" rows="3" placeholder="Introduzca la descripcion de su idea"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-11 d-flex flex-row-reverse">
                            <button type="button" (click)="add(titulo.value,descripcion.value,barra.value);titulo.value='';descripcion.value=''"class="btn btn-danger">Publicar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<hr/>

<div class="row titulos-listados">
    <div class="col-md-6">
        <h5>Listado de Ideas</h5>
    </div>
    <div class="col-md-6">
        <h5>Listado de Desafios</h5>
    </div>
</div>

<div class="row">
    <div class="col-md-6 filtros-orden">
        <nav class="navbar justify-content-between">
            <div class="btn-group">
                <button class="btn btn-secondary btn-sm" type="button">
                    Ordenar por
                </button>
                <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item"(click)="order(1)">Me gusta</a>
                    <a class="dropdown-item"(click)="order(2)">Comentarios</a>
                    <a class="dropdown-item"(click)="order(3)">Antiguedad</a>
                </div>
            </div>
            <form class="form-inline">
                <input class="form-control mr-sm-2" #filtro placeholder="Ingrese un termino" aria-label="Search">
                <button class="btn btn-outline-secondary my-2 my-sm-0" (click)="filtrar(filtro.value);filtro.value=''">Filtrar</button>
            </form>
        </nav>
    </div>
    <div class="col-md-6">

    </div>

    <div class="col-md-6 listado-ideas">
        <div class="container fluid ideas">
            <div *ngFor="let idea of ideas; let i = index">
                <div class="row">
                    <a href="#ideas-{{ i }}" class="btn btn-light btn-block" data-toggle="collapse">
                        <div class="row">
                            <div class="col-md-8">
                                <p class="titulo text-justify">{{idea.titulo}}</p>
                            </div>
                            <div class="col-md-4">
                                <p class="nombre-ideador">[{{idea.nombreIdeador}}]</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="collapse row" id="ideas-{{ i }}">
                    <div class="card card-body">
                        <div class="row">
                            <div class="col-md-12 text-justify">
                                {{idea.descripcion}}
                            </div>
                            <div class="col-md-12 separado">
                                <div class="row separado">
                                    <div class="col-md-6">
                                        <span class="badge badge-pill badge-danger">Me gusta: {{idea.meGusta}}</span>
                                    </div>
                                    <div class="col-md-6 d-flex flex-row-reverse">
                                        <button type="button" class="btn btn-danger btn-sm" (click)="meGusta(idea.id,idea)">Dar me gusta</button>
                                        <button type="button" class="btn btn-link btn-sm" (click)="openModal(idea.id); refresh(idea.id,idea)">ver mas</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-6 listado-desafios">
        <div class="container fluid desafios">
            <div *ngFor="let desafio of desafios; let i = index">
                <div class="row">
                    <a href="#desafios-{{ i }}" class="btn btn-light btn-block" data-toggle="collapse">
                        <div class="row">
                            <div class="col-md-12 d-flex flex-row">
                                <p class="titulo">{{desafio.titulo}}</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="collapse row" id="desafios-{{ i }}">
                    <div class="card card-body">
                        <p class="text-justify">{{desafio.descripcion}}</p>
                        <div class="row">
                            <div class="col-md-12">
                                <p>Duracion: {{desafio.inicio}} - {{desafio.termino}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
