/* VistaPrincipalComponent's private CSS styles */

.publicar-idea {
    margin-top: 1em;
}

.entrada-descripcion {
    resize: none;
}

.formulario {
    margin-top: 1em;
}

.titulos-listados {
    margin-top: 2em;
}

.filtros-orden {
    margin-bottom: 1em;
}

.listado-ideas {
}

.listado-desafios {
}

.separado {
    margin-top: 1em;
}

.ideas {
    height: 17em;
    overflow-y: scroll;
    overflow-x: hidden;
}

.titulo {
    margin-left: 1em;
}

.nombre-ideador {
    color: #bf0b25;
}

.id-desafio {
    margin-left: 8em;
}

.titulo-desafio {
    margin-bottom: 0.8em;
}

.desafios {
    height: 17em;
    overflow-y: scroll;
}
