/* VistaPrincipalAdministradorComponent's private CSS styles */

.publicar-desafio {
    margin-top: 2em;
}

.entrada-descripcion {
    resize: none;
}

.formulario {
    margin-top: 2em;
}

.listado-ideas {
    margin-top: 2em;
}

.listado-desafios {
    margin-top: 2em;
}

.separado {
    margin-top: 1em;
}

.ideas {
    height: 20em;
    overflow-y: scroll;
    overflow-x: hidden;
}

.titulo {
    margin-left: 1em;
}

.nombre-ideador {
    color: #bf0b25;
}

.id-desafio {
    margin-left: 8em;
}

.desafios {
    height: 20em;
    overflow-y: scroll;
}

.selector-fecha {
    margin-right: 3em;
}
