/* VistaPrincipalAdministradorComponent's private CSS styles */

.publicar-idea {
  margin-top: 2em;
}

.entrada-descripcion {
  resize: none;
}

.formulario {
  margin-top: 2em;
}

.listado-ideas {
  margin-top: 2em;
}

.listado-desafios {
  margin-top: 2em;
}

.separado {
  margin-top: 1em;
}

.ideas {
  height: 20em;
  overflow-y: scroll;
  overflow-x: hidden;
}

.titulo {
  margin-left: 1em;
}

.nombre-ideador {
  color: #bf0b25;
}

.id-desafio {
  margin-left: 8em;
}

.desafios {
  height: 20em;
  overflow-y: scroll;
}

.descripcion {
    margin-bottom: 3em;
}
