body {
  font-family: 'Lato';
}

#mainNav {
    background-color: #bf0b25;
    font-weight: 700;
    font-family: 'Montserrat';
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
}

#mainNav .navbar-brand {
    color: #fff;
    font-size: 2em;
    -webkit-transition: font-size 0.3s;
    transition: font-size 0.3s;
}
