<nav class="test">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
      
      <!------ Include the above in your HEAD tag ---------->

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <div id="flipkart-navbar">
      <div class="container">
          <div class="row row1">
              <ul class="largenav pull-right">                    
                  <li class="upper-links dropdown"><a class="links" href="http://clashhacks.in/">Perfiles</a>
                      <ul class="dropdown-menu">
                          <li ><a class="profile-links" href="localhost:4200/home">Ideador</a></li>
                          <li ><a class="profile-links" href="localhost:4200/home">Evaluador</a></li>
                      </ul>
                  </li>
              </ul>
          </div>

          <div class="Logo-Alaya">
              <h2 class="titulo">Think & Share</h2>
          </div>
      </div>
  </div>
</nav>
<nav>
        <a routerLink="/home">Home</a>
      </nav>
<router-outlet></router-outlet>