<div class="container" *ngIf="idea">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card text-center">
                <div class="card-header">
                    {{idea.titulo}}
                </div>
                <div class="card-body">
                    <p class="card-text">{{idea.descripcion}}</p>
                </div>
                <div class="card-footer text-muted">
                    <button class="like" mat-icon-button (click)="meGusta(idea.id)">
                        <mat-icon>favorite</mat-icon>
                    </button>
                    {{idea.meGusta}}
                </div>
            </div>
            <div class="row contenido-comentarios">
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
