<!--<button (click)="goBack()">go back</button>-->
<div class="zoom" *ngIf="idea">
    <!--<button (click)="save()">save</button> -->
    <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{idea.titulo}}</mat-card-title>
              <mat-card-subtitle><!--{{hero.autor}}-->Autor</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{idea.descripcion}}
              </p>
            </mat-card-content>
            <mat-card-actions class="test">
                <button mat-button>LIKES</button>
                <button class="like" mat-icon-button (click)="onClickMe()">
                    <mat-icon>favorite</mat-icon></button>{{idea.meGusta}}
            </mat-card-actions>
          </mat-card>

            <mat-form-field class="algo">
                <textarea class="coment" #comentario  matInput maxlength="280" placeholder="Ingrese su comentario"></textarea>
                <mat-hint align="end">{{comentario.value.length}} / 280</mat-hint>
            </mat-form-field>

        <button class="post" mat-raised-button (click)="onClickMe()">Comentar</button>
    </div>
